.dashboard-body {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  margin: 1rem;
  padding: 1rem;
  background-color: $white;
  box-shadow: 10px 10px 23px -15px rgba(0, 0, 0, 0.75);

  & h3 {
    text-align: center;
  }
}
